@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

@import './shared/colors';

@import './index';
@import './portfolios';

@import './header';

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica';
}

.self-typed {
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
}

.absolute {
  position: absolute;
}

.base-page {
  padding-top: 150px;
  color: white;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

.clickable {
  cursor: pointer;
}